* {
    box-sizing: border-box;
  }
  body{
      background-color: #E5E5E5;
      width: 375px;
      margin: 0 auto;
      border:solid;
      font-family: 'Roboto', sans-serif;
  }
  header{
      display: flex;
      justify-content: center;
      align-items: center;
      background: #C3CFD9;
      padding: 10px;
  }
  header h2{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 34px;
    line-height: 40px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #E8833A;  
  }
  .initialPage{
      background-color: white;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;   
  }
  .initialPage h3{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #293845;
    padding: 50px;
  }
  .movies {
      display: flex;
      flex-wrap: wrap;
  }
  .movie{
    width: 145px;
    height: 209px;
    margin: 10px auto;
    background: #FFFFFF;
    box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .movie img {
    width: 129px;
    height: 193px;
  }
  .movie-schedules{
    margin-left: 0px;
    justify-content: flex-start;
    width: 100%;
    margin-left: 35px;
    
  }
  .movie-schedules p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    display: flex;
    justify-content: left;
    align-items: center;
    letter-spacing: 0.02em;
    color: #293845;
  }
  .options{
    display: flex;
  }
  .options button {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 10px;
    width: 83px;
    height: 43px;
    background: #E8833A;
    border-radius: 3px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
  }
  footer{
    display: flex;
    background: #E5E5E5;
    width: 100%;
    padding: 15px;
    margin-top: 150px;
  }
  .imagem-rodape{
    width: 64px;
    height: 89px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .imagem-rodape img{
    width: 48px;
    height: 72px;
  }
  footer h4{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 30px;
    display: flex;
    align-items: center;
    margin-left: 10px;
    color: #293845;
  }
  .infos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .places-choices{
    display: flex;
    flex-wrap:wrap;
    padding-left: 4px;
    margin-bottom: 20px;
  }
  .places-choices h4{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 26px;
    height: 26px;
    border: 1px solid #808F9D;
    border-radius: 12px;
    margin: 4px 4px;
  }
  .availability{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
  }
  .availability h5{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    display: flex;
    align-items: center;
    letter-spacing: -0.013em;
    color: #4E5A65;
  }
  .selected{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .selected h4{
    width: 25px;
    height: 25px;
    background: #8DD7CF;
    border: 1px solid #1AAE9E;
    border-radius: 17px;
  }
  .free{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .free h4{
    width: 24px;
    height: 24px;
    left: 178px;
    top: 377px;
    background: #C3CFD9;
    border: 1px solid #7B8B99;
    border-radius: 17px;
  }
  .occupied{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .occupied h4{
    width: 24px;
    height: 24px;
    left: 271px;
    top: 377px;
    background: #FBE192;
    border: 1px solid #F7C52B;
    border-radius: 17px;
  }
  .place-occupied{
    background: #FBE192;
  }
  .place-free{
    background: #C3CFD9;
  }
  .place-selected{
    background: #8DD7CF;
  }